.navigation { /*Conteneur du menu de navigation*/
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.nav {
    display: flex;
    flex-direction: row;
    color: rgb(26, 24, 24);
    font-size: 20px;
    margin: 17px 50px 17px 57px;
}

.nav:hover { /*Souligne l'élément au survol de la souris*/
    text-decoration: underline;
}

.active { /*Souligne l'élément lorsque la page correspondante est active*/
    text-decoration: underline;
}

.inactive {
    text-decoration: none;
}

.nav:visited {
    text-decoration: none;
}

/* Média query pour les écrans de petite taille, comme les téléphones */
@media only screen and (max-width: 768px) {
    /* Conteneur du menu de navigation en colonne */
    .navigation {
        flex-direction: column;
        margin-top: 2px;
    }

    /* Style pour chaque élément de la navigation en colonne */
    .nav {
        margin: 5px 0;
        text-align: center;
        font-size: 10px;
    }
}